.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.page-content {
    flex: 1;
    padding: 20px; /* Adjust as needed */
    background-color: #f0f0f0; /* Background color for content area */
}
